.btn-primary {
    background-color: #00AA5B !important;
    color: white !important;
    font-weight: bold !important;
    border-color: #00AA5B !important;
    border-radius: 10px !important;
    padding: 8px 25px 8px 25px !important;
    font-size: 18px !important;
}

.btn-secondary {
    background-color: white !important;
    color: #00AA5B !important;
    font-weight: bold !important;
    border-color: #00AA5B !important;
    border-radius: 10px !important;
    padding: 8px 25px 8px 25px !important;
    font-size: 18px !important;
}

#img-tokped {
    width: 200px;
    height: 45px;
    margin-top: 25px;
    margin-left: 50px;
}

#category {
    margin-left: 60px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
}

#search-form {
    margin-top: 20px;
    width: 100% !important;
    border-left: 0px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.form-control {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

#search-form:focus {
    outline: none !important;
    border-color: #00AA5B;
}

#border-focus {
    border-color: #00AA5B;
}

.border-icon {
    margin-top: 20px !important;
    width: 55px;
    height: 60px;
    margin-right: -10px;
    border-top: 1.5px solid #dee2e6;
    border-left: 1.5px solid #dee2e6;
    border-bottom: 1.5px solid #dee2e6;
    z-index: 99;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pipe-separator {
    margin-top: 5px;
    margin-left: -20%;
    margin-right: 30px;
    width: 3px;
    height: 40px;
    background-color: #E4EBF5;
}

.cart-container {
    margin-right: 8%;
    margin-left: 4%;
    margin-top: 20px !important;
    width: 55px;
    height: 60px;
    z-index: 99;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#hr {
    margin-top: -10px;
    background-color: #E4EBF5;
    height: 1.5px;
    width: 100%;
    border-top: none;
}
