.slick-slide {
    margin: 0 -10px;
}

.border-category {
    border: 1px solid #dee2e6;
}

.active-category {
    font-weight: bold;
    color: #00AA5B !important;
}

.card-category-font-size {
    font-size: 0.8vw;
    font-weight: 500;
}

@media only screen and (max-width: 1600px) {
    .card-category-font-size {  
        font-size: 1vw;
    }
}