.navbar {
    background-color: #F0F3F7;
    height: 40px;
}

.navbar-font {
    margin-left: 10px;
    font-size: 15px;
}

div ul li a {
    text-decoration: none;
    color: black;
}

div ul li a:hover {
    color: #00AA5B;
}

.text-link-primary {
    color: #00AA5B !important;
    font-weight: bold !important;
    text-decoration: none;
    font-size: 20px;
}