#download-tokped-app {
    margin-top: -1.5px;
}

.navbar {
    background-color: #F0F3F7;
    height: 2.5rem;
}

.navbar-font {
    height: 100% !important;
    /* font-size: 15px; */
    font-size: 1rem;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.navbar-font:hover {
    color: #00AA5B;
    cursor: pointer;
}